{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row align-items-center justify-content-evenly vh-100">
    <div class="col-10 col-lg-8 col-xl-6 p-5" style="min-width: 400px;">
      <div class="bg-white rounded">

        <div class="justify-content-center m-4 pb-2">

          <div class="h3 pt-4 pb-2 text-center">Registration Completed
          </div>

          <div class="d-flex justify-content-center mt-3 mb-4">
            <img src="/static/img/company gray.png" height="80px">
          </div>

          <div class="row pt-2 d-flex justify-content-center text-center">
            <div class="col-5"><span class="h5">会社コード:</span>
            </div>

            <div class="col-5"><span class="fw-bold h5">{{index .StringMap "company_cd"}}</span>
            </div>
          </div>

          <div class="ps-2 pe-2 pb-4 pt-4 text-center">
            <p>Email has been verified and company registration is completed!</p>
            <p class="text-dark text-opacity-50">You may close this window or continue to new store registration.</p>
          </div>

          <div class="row justify-content-center pb-3">
            <div class="col-12 col-md-8 col-xl-7">
              <!-- <a href="../Sign in - Sign up/Store-registration.html" type="submit" class="btn btn-block text-white"
                style="background-color:#4f49f0">New Store Registration</a> -->
              <a href="/signup/store" class="btn btn-block text-white" style="background-color:#4f49f0">
                New Store Registration
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

{{end}}