{{template "base" .}}

{{define "content"}}
<div class="container">
        
    <div class="row align-items-center justify-content-evenly vh-100">
        <div class="col-10 col-lg-8 col-xl-6 p-5" style="min-width: 400px;">
          <div class="bg-white rounded">
            
          <div class="justify-content-center m-4 pb-2">

            <div class="h2 pt-4 pb-2 text-center">Store Temporary Registration Completed
            </div>

            <div class="d-flex justify-content-center mt-3 mb-4">
             <img src="/static/img/store gray.png" height="80px">
            </div>

            <div class="ps-2 pe-2 pb-4 pt-4 text-center">
              <p>Please verify your email address to click on the link in the email received.</p>
              <p class="text-dark text-opacity-50">You may close this window or continue to new store registration.</p>
            </div>

            <div class="row justify-content-center pb-3">
              <div class="col-12 col-md-8 col-xl-7">
                <a href="/signup/store" class="btn btn-block text-white" style="background-color:#4f49f0">
                  New Store Registration
                </a>
              </div>
            </div>

          </div>

          </div>
        </div>

    </div>  
</div>
{{end}}
