{{template "base" .}}

{{define "content"}}
<div class="container">
  {{$res := index .Data "password"}}

  <form action="/signup/store/password" method="post" novalidate class="needs-validation">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

    <div class="row align-items-center justify-content-evenly vh-100">
      <div class="col-8 p-5">
        <div class="bg-white rounded">

          <div class="m-4 pb-2">
            <div class="h3 p-4 text-center">New Store Registration
            </div>

            <div class="h5 pb-2 text-start">Create New Password
            </div>

            <div class="form-outline mb-4">
              <input class="form-control form-control-lg {{with .Form.Errors.Get " password"}} is-invalid {{end}}"
                id="password" name="password" autocomplete="off" type='password' value="{{$res.Password}}" required>
              <label class="form-label" for="password">パスワード</label>
              {{with .Form.Errors.Get "password"}}
              <label class="text-danger">{{.}}</label>
              {{end}}
            </div>

            <div class="h5 pb-2 text-start">Confirm Password
            </div>

            <div class="form-outline mb-4">
              <input class="form-control form-control-lg {{with .Form.Errors.Get " password_confirm"}} is-invalid
                {{end}}" id="password_confirm" name="password_confirm" autocomplete="off" type='password'
                value="{{$res.PasswordConfirm}}" required>
              <label class="form-label" for="password_confirm">パスワード（確認用）</label>
              {{with .Form.Errors.Get "password_confirm"}}
              <label class="text-danger">{{.}}</label>
              {{end}}
            </div>

          </div>

          <div class="row justify-content-end pb-3 pe-3">

            <div class="col-2">
              <a href="../Sign in - Sign up/Store-registration-contd.html" type="button"
                class="btn btn-block btn-light">戻る</a>
            </div>

            <div class="col-2">
              <input type="submit" class="btn btn-block text-white" style="background-color:#4f49f0" value="次へ">
              <!-- <a href="../Sign in - Sign up/Store-Info-confirmation.html" type="submit" class="btn btn-block text-white"
                style="background-color:#4f49f0">次へ</a> -->
            </div>
          </div>

        </div>
      </div>

    </div>
  </form>
</div>
{{end}}